<div class="row">
	<div class="span6">
		<h1>Create a new Box</h1>
		<p>&nbsp;</p>
	</div>
</div>

<div class="row">
	<div class="span3">
		<form class="form-horizontal">

    	<p>Boxfool of&nbsp;
			<input type="text" class="input-medium" value="" /></p>

			<p>Description<br />
			<textarea class="input-xlarge" rows="10"></textarea></p>


			<p>Hashtag<br />
			#<input type="text" class="input-small" value="" /></p>

			<p>PayPal Button ID<br />
			<input type="text" class="input-medium" value="" /></p>

			<p>Price (RM) <sup>optional</sup><br />
			<input type="text" class="input-medium" value="" /></p>

			<p>BoxStar<br />
			<select name="boxstar_id">
				<option></option>
				<option>Scarlett Johansson</option>
				<option>Faye Hokulani</option>
				<option>Emma Watson</option>
				<option>Rihanna</option>
			</select></p>

			<p>Status<br />
			<select name="boxstar_id">
				<option>Draft</option>
				<option>Online</option>
				<option>Packing</option>
				<option>Shipped</option>
			</select></p>

			<p>&nbsp;</p>
			<p><input type="Submit" class="btn-large" value="Save Changes" /></p>
		</form>
	</div>
	<div class="span3">
		<p>Add an image:<br />
		<input type="file" /></p>
	</div>

</div>
