<div class="row">
	<div class="span4">
		<h1>Edit Box</h1>
		<p>&nbsp;</p>
	</div>
	<div class="span2" style="text-align:right">
		<a class="btn btn-success" href="#">Duplicate this Box</a>
	</div>
</div>

<div class="row">
	<div class="span2">
		<div class="thumbnail"><img src="http://placekitten.com/160/160" /></div>
		<p>&nbsp;</p>
		<p>Replace image with:<br />
		<input type="file" /></p>

		<p>&nbsp;</p>
		<h2>More Images</h2>
		<div class="well">
			<img src="http://placekitten.com/40/40" />
			<img src="http://placekitten.com/40/40" />
			<img src="http://placekitten.com/40/40" />
		</div>
		<p><a href="#">Upload more</a></p>
	</div>
	<div class="span4">
		<form class="form-horizontal">

    	<p>Boxfool of&nbsp;
			<input type="text" class="input-medium" value="Cats" /></p>

			<p>Description<br />
			<textarea class="input-xlarge" rows="10"></textarea></p>


			<p>Hashtag<br />
			#<input type="text" class="input-small" value="cat03" /></p>

			<p>PayPal Button ID<br />
			<input type="text" class="input-medium" value="DPYUGHM27GQ7J" /></p>

			<p>Price (RM) <sup>optional</sup><br />
			<input type="text" class="input-medium" value="40.00" /></p>

			<p>BoxStar<br />
			<select name="boxstar_id">
				<option>Scarlett Johansson</option>
				<option>Faye Hokulani</option>
				<option>Emma Watson</option>
				<option>Rihanna</option>
			</select></p>

			<p>Status<br />
			<select name="boxstar_id">
				<option>Draft</option>
				<option>Online</option>
				<option>Packing</option>
				<option>Shipped</option>
			</select></p>


			<p>&nbsp;</p>
			<p><input type="Submit" class="btn-large" value="Save Changes" /></p>
		</form>
	</div>
</div>
