<div class="row">

		<div class="span3">&nbsp;</div>

		<!-- sidebar navigation container start -->
		<div class="span2">
			<ul>
			  <li>
					<a href="{$base_url}/adm/boxes">Dashboard</a>
			  </li>
			  <li>
					<a href="{$base_url}/adm/boxes">Boxes</a>
			  </li>
			  <li>
			    <a href="{$base_url}/adm/subscribers">Subscribers</a>
			  </li>
			  <li>
			    <a href="{$base_url}/adm/orders">Orders</a>
				</li>
				<li>
					<a href="{$base_url}/adm/logout">Logout</a>
				</li>
			</ul>
		</div><!-- sidebar navigation container ends -->

		<!-- content container start -->
		<div class="span4">
			content
		</div><!-- content container ends -->

		<div class="span3">&nbsp;</div>

</div>