{include="admin/header"}

<div class="row">

		<div class="span2">&nbsp;</div>

		<div class="span8" style="background:#fff; padding:20px; box-shadow:2px 2px 0px #000">

			<div class="row">

				<!-- sidebar -->
				<div class="span2" style="float:left;">
					{include="admin/sidebar"}
				</div>
	
				<!-- content container start -->
				<div class="span6" style="float:right;">
					{include="$adm_page"}
				</div><!-- content container ends -->

			</div>

		</div>

		<div class="span2">&nbsp;</div>

</div>

{include="admin/footer"}