<div class="row">
	<div class="span6">
		<h1>Subscribers</h1>
		<p>&nbsp;</p>
	</div>
</div>

<div class="row">
	<div class="span6">

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Location</th>
					<th>Date Subscribed</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr valign="top">
					<td>1</td>
					<td>Lee Chong Wei</td>
					<td>Subang Jaya,<br />Selangor</td>
					<td>14 June 2012</td>
					<td><a href="/adm/subscribers/edit">Edit</a> | <a href="/adm/subscribers/delete">Delete</a></td>
				</tr>
				<tr valign="top">
					<td>2</td>
					<td>Jeremy Lin</td>
					<td>Klang,<br />Selangor</td>
					<td>12 June 2012</td>
					<td><a href="/adm/subscribers/edit">Edit</a> | <a href="/adm/subscribers/delete">Delete</a></td>
				</tr>
				<tr valign="top">
					<td>3</td>
					<td>Lin Dan</td>
					<td>Cheras,<br />Kuala Lumpur</td>
					<td>30 May 2012</td>
					<td><a href="/adm/subscribers/edit">Edit</a> | <a href="/adm/subscribers/delete">Delete</a></td>
				</tr>
			</tbody>
			<td>
			</td>
		</table>

	</div>
</div>