
	<!-- subscribed boxfool container start -->
	<div class="row">
		<div class="span10">
			<div class="page-header">
				<h1>Your Subscribtions</h1>
			</div>
			<div class="boxfool_information_container">
				<img src="{$base_url}/public/images/subscribe_eco.jpg" alt="" class="boxfool_image">
				<div class="info_container">
					<p class="lead">Boxfool of Eco</p>
					<p>A box of eco-friendly, nature loving and wholesome organic stuff. Curated by Ninie Ahmad.</p>
					<p>#ECO01 Ships on <strong>15th September 2012</strong></p>
				</div>
			</div>
		</div>
	</div><!-- subscribed boxfool container ends -->

	<!-- account information container start -->
	<div class="row">
		<div class="span10">
			<div class="page-header">
				<h2>Account</h2>
			</div>
			<div class="span3">
				<p class="lead">Your Account</p>
				<p>{$user_info['name']}</p>
				<p>{$user_info['email']}</p>
				<p><a href="">Update Account</a></p>
				<p>&nbsp;</p>
				<p class="lead">Your Password</p>
				<p><a href="">Change Password</a></p>
			</div>
			<div class="span3">
				<p class="lead">Shipping Address</p>
				
			</div>
		</div>
	</div><!-- account information container ends -->

	
