

	<!-- form container start -->
	<div class="row">

		{if="$show_paypal_form == false"}

		<div class="span8">
			<h2>Step 1 of 2</h2>

			{if="$form_error"}
			<div class="alert alert-error">
				<p><strong>Whoops, the form is incomplete. Please check the following:</strong></p>
				<ol>
					{loop="form_error_list"}
					<li>{$value.message}</li>	
					{/loop}
				</ol>
			</div>
			{/if}
			
			<form action="" method="post" class="form-horizontal" accept-charset="utf-8">

				<fieldset>
					<legend>Personal Details</legend>
					<div class="control-group {if="$form_error"}{$form_error_name}{/if}">
						<label class="control-label" for="name">Name</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="name" value="{if="$form_submit"}{$input_data["name"]}{/if}">
						</div>
					</div>
					<div class="control-group {if="$form_error"}{$form_error_email}{/if}">
						<label class="control-label" for="email">E-mail</label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="email" value="{if="$form_submit"}{$input_data["email"]}{/if}">
						</div>
					</div>
					<div class="control-group {if="$form_error"}{$form_error_tel}{/if}">
						<label class="control-label" for="tel">Telephone</label>
						<div class="controls">
							<input type="text" class="input-medium" name="tel" value="{if="$form_submit"}{$input_data["tel"]}{/if}">
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Ship to:</legend>
				  <div class="control-group {if="$form_error"}{$form_error_address1}{/if}">
						<label class="control-label" for="address1">Address</label>
				    <div class="controls">
				      <input type="text" class="input-xlarge" name="address1" value="{if="$form_submit"}{$input_data["address1"]}{/if}">
				    </div>
				  </div>
				  <div class="control-group">
						<label class="control-label" for="address2">&nbsp;</label>
				    <div class="controls">
				      <input type="text" class="input-xlarge" name="address2" value="{if="$form_submit"}{$input_data["address2"]}{/if}">
				    </div>
				  </div>
				  <div class="control-group">
						<label class="control-label" for="address3">&nbsp;</label>
				    <div class="controls">
				      <input type="text" class="input-xlarge" name="address3" value="{if="$form_submit"}{$input_data["address3"]}{/if}">
				    </div>
				  </div>
				  <div class="control-group {if="$form_error"}{$form_error_postcode}{/if}">
						<label class="control-label" for="postcode">Postcode</label>
				    <div class="controls">
				      <input type="text" class="input-small" name="postcode" maxlength="6" value="{if="$form_submit"}{$input_data["postcode"]}{/if}">
				    </div>
				  </div>
				  <div class="control-group {if="$form_error"}{$form_error_city}{/if}">
						<label class="control-label" for="city">City</label>
				    <div class="controls">
				      <input type="text" class="input-medium" name="city" value="{if="$form_submit"}{$input_data["city"]}{/if}" />
				    </div>
				  </div>
				  <div class="control-group {if="$form_error"}{$form_error_state}{/if}">
				    <label class="control-label" for="state">State</label>
				    <div class="controls">
							<select name="state">
								<option value="KL" selected>Kuala Lumpur</option>
								<option value="Selangor">Selangor<option>
							</select>
							<p class="help-block">We currently deliver within the Klang Valley only. Shipping is free.</p>
						</div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="country">Country</label>
				    <div class="controls">
							<input type="text" name="country" class="input-small uneditable-input" value="Malaysia" />
				    </div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Next Step: Payment &#187;</button>
					</div>
				</fieldset>
				
			</form>
		</div>

		{else}

		<div class="span8">
			<h2>Step 2 of 2</h2>
			<p>&nbsp;</p>	
			<h1>Your Boxfool of {$box_theme['name']} will be shipped to:</h1>
			<p>&nbsp;</p>
			<div class="well">
				<h2>{$sub_name}</h2>
				<p>{$sub_address}</p>
				<p>Tel: {$sub_tel}<br />
				E-mail: {$sub_email}</p>
			</div>
			<p>&nbsp;</p>

			<fieldset>
				<legend></legend>
			</fieldset>

			<p>&nbsp;</p>
			<h3>Click on a payment option below:</h3>
			<p>&nbsp;</p>

			<div style="width:350px; float:left">
				<fieldset>
					<legend><h2>PayPal / Credit Card</h2></legend>
					<p>&nbsp;</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick" />
						<input type="hidden" name="hosted_button_id" value="{$input_data['paypal_id']}" />
						<input type="image" style="width:147px; height:47px" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
					</form>
			
					<!--
					<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="{$input_data['paypal_id']}">
						<input type="hidden" name="custom" value="{$sub_email}">
						<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					-->
				</fieldset>
			</div>

			<div style="width:350px; float:right">
				<fieldset>
					<legend><h2>Bank Transfer</h2></legend>
					<p>&nbsp;</p>
					<p>Payment can be made via direct bank-in or transfer to:</p>
					<p style="padding-left:25px;">Account No: <b>247-201-200344-6</b><br />
					Name: EzyPzy Sdn Bhd<br />
					Bank: AmBank (M) Berhad</p>
					<p>Once transferred, send a scanned image of the bank-in slip or screenshot of the payment confirmation page to <a href="mailto:hello@boxfool.com">hello@boxfool.com</a>.</p>
					<p><a href="{$base_url}/thank-you" class="btn btn-primary">OK I'll do this!</a></p>
				</fieldset>
			</div>

			<div style="clear:both"></div>
			<p>Enquiries? Write to <a href="mailto:hello@boxfool.com">hello@boxfool.com</a></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>		
		</div>

		{/if}

		<div class="span4">
			<h2>Subscribing to:<br />
			<small><a href="/eco" style="text-decoration:underline">Boxfool of {$box_theme['name']}</a></small></h2>

			<div class="thumbnail">
				<img src="{$base_url}/public/images/subscribe_eco.jpg" alt="" />
        <div class="caption">
					<p>A Boxfool of eco-friendly, wholesome organic products. Curated by your favorite yoga instructor Ninie Ahmad.</p>
					<p>Ships 15th September 2012</p>
					<h2>RM {$box_theme['price']} / box</h2>
				</div>
      </div>
		</div>
	</div>
	<!-- form container ends -->

