<div class="row">
    <div class="span4">
			<p style="text-align:center"><img src="/images/boxstar_jinhackman-sidebar.jpg" /></p>
			<p>&nbsp;</p>
			<div class="sidebar">
				<div class="sidebar_content">
					<p style="text-align:center"><b>RM60 / Box</b></p>
					<p style="text-align:center"><a href="/hiphop/subscribe" class="btn btn-large btn-success" style="font-size: 18px;">Subscribe Now</a></p>
				</div>
			</div>
			<p>&nbsp;</p>
			<p style="text-align:center"><a href="/hiphop/subscribe"><img src="/images/card_logo.jpg" /></a></p>
			<p style="text-align:center">Bank transfer, major credit cards<br />
			and PayPal accepted.</p>
    </div>
    <div class="span8">
        <div class="row">
            <div class="span8">
								<h1>Boxfool of Hip Hop</h1>
								<h4 class="title">Curated by Jin Hackman. <span style="color:#ccc">Rapper. Producer. Emcee.</span></h4>
								<hr />
								<p>Having been anointed <b><i>"the next real thing to have hit Malaysia"</i></b> by JUICE Magazine in 2009, Jin Hackman has since been on a mission to breathe life into a stagnant art form without diminishing the hip hop sound for the sake of accessibility.</p>
								<p>In recent years though, he's been especially known for three things; for his annual year end Rap-Ups, as one of seven emcees who performed Run This as the recent 8TV Shout Awards, and as the orchestrator of local hip hop community project called <a href="http://www.rtbfest.com/" target="_blank">Raising the Bar.</a></p>
								<p>A quick-witted, oft-funny, and skilled lyricist with a keen observation of society at large, this cat is clear proof that Malaysian hip hop is very much alive and doesn't need to be dumbed down or commercialised to succeed.</p>
								<p>What's in Jin's Boxfool of Hip Hop? You'll have to <a href="/hiphop/subscribe/">subscribe</a> to find out!</p>
								<p>&nbsp;</p><p>&nbsp;</p>
								<h2>Get to know your Boxstar</h2>
								<hr />
						</div>
				</div>

        <div class="row">
            <div class="span4" style="width:280px">

<p><div class="numberCircle left">1</div></p>
<p><b><i>Hi Jin. Tell us a bit about yourself - in one sentence!</i></b></p>
<p>Leslie Chow lookalike aka Mr. Malaysian Rap-Up aka that dude who Raises The Bar!</p>

<p>&nbsp;</p>

<p><div class="numberCircle left">2</div>
<b><i>From Nico to Too Phat, Poetic Ammo to current bunch of emcees carrying the Malaysian hip hop flag, can you give us a low down on what the scene's like here in Malaysia?</i></b></p>
<p>I'd like to think that the scene now is more self-reliant than ever before. We have a diverse array of rappers doing it independently, each of them bringing a completely unique style and sound to the table, which makes Malaysian hip hop very interesting to watch at this point in time.</p>

<p>&nbsp;</p>

<p><div class="numberCircle left">3</div>
<b><i>You're also doing your part through Raising the Bar, right? What is Raising the Bar all about?</i></b></p>
<p>Raising The Bar is a monthly independent hip hop night that I started two years ago (it's currently being held at Ecoba, PJ Trade Centre). RTB basically serves as a platform for both established and up-and-coming rappers to showcase their skills and material while at the same time connect with their fans on a much more intimate level. Our objective is not just to entertain, but to also educate the masses on hip hop culture through its key elements; rapping, b-boying, graffiti, dj-ing, beabtoxing, street fashion, etc. You really gotta come check it out for yourself. It's awesome.</p>

<p>&nbsp;</p>


						</div>
            <div class="span4" style="width:280px; float:right">
<p style="text-align:center"><a href="/hiphop/subscribe"><img src="/images/subscribe_hiphop.jpg" width="280" alt="Subscribe to Jin Hackman's Boxfool of Hip Hop" title="Subscribe to Jin Hackman's Boxfool of Hip Hop" /></a></p>
<p>&nbsp;</p>

<p><div class="numberCircle left">4</div>
<b><i>RTB Fest looks like the start of even bigger things to come. How excited are you about it?</i></b></p>
<p>I'm super excited as we've been talking about a hip hop festival here in KL for the longest time. I mean think about it, two major rock festivals staged annually and nothing of that magnitude ever done for the hip hop fans? Come on now! So you know we had to step in and try to do something. We knew from the jump it wasn't gonna be an easy task to pull off, but we wanted to give it a shot anyway. Still can't believe it's actually happening!</p>

<p>&nbsp;</p>

<p><div class="numberCircle left">5</div>
<b><i>We're super psyched to collaborate with you on this special RTB x Boxfool of Hip Hop edition. Any hints on what will be included in the Boxfool of Hip Hop?</i></b></p>
<p>Think of this box as your hip hop starter kit. It contains pretty much everything you need to survive Raising The Bar Festival. Numsayin?</p>
<p>&nbsp;</p>

            </div>
        </div>


        <div class="row">
            <div class="span8">
								<hr />
								<h2>2011 Malaysian Rap Up</h2>
								<h4 class="title">Haven't heard of Jin Hackman? Check out his annual year-end Malaysian Rap Up!</h4>
								<p>&nbsp;</p>
								<iframe width="620" height="340" src="http://www.youtube.com/embed/y1p6mLwS-po?rel=0" frameborder="0" allowfullscreen></iframe>
								<hr />
						</div>
				</div>

				<div class="row">
					<div class="span8">
						<p style="text-align:center"><a href="/hiphop/subscribe" class="btn btn-large btn-success" style="font-size: 18px;">Subscribe Now</a></p>
						<p>&nbsp;</p><p>&nbsp;</p>
					</div>
				</div>

    </div>
</div>
