<div class="row">
    <div class="span4">
			<img src="/images/boxstar_ninieahmad_featured.jpg" />
				<p>&nbsp;</p>
				<!--<h1 class="caps heading-black">-->
					<a href="/eco/subscribe" class="btn btn-large btn-success" style="font-size: 18px;">Subscribe Now</a>
				<!--</h1>-->
				<p>&nbsp;</p>
        <p>Don't be fooled by Ninie Ahmad's tiny stature. Widely known as Malaysia's celebrity yoga teacher, Ninie can bend, stand upside down and twist her body (and probably yours too) in ways that defy human physics and gravity!</p>
				<p>Ninie is the founder of <a href="http://upwardyoga.com">Upward</a> (where she currently teaches), is currently an international ambassador for Manduka and an R&amp;D personality for Lululemon Athletica.</p>
				<p>Ninie's blog <b><a href="http://ninieahmad.com">ninieahmad.com</a></b> - a treasure-trove of wisdom on yoga and healthy living - was recently awarded <b><i>Malaysia's Best Health &amp; Wellbeing Blog 2012</i></b> by the Ministry of Information, Communication and Culture.</p>
    </div>
    <div class="span8">
        <div class="row">
            <div class="span8">
                <h4 class="title">Get a "BOXFOOL OF {$box_name|strtoupper}" handpicked by</h4>
								<h2>Ninie Ahmad</h2>
								<p>&nbsp;</p>
<p><b><i>Hi Ninie, thanks for being our very first Boxstar! Tell us a bit about yourself - in one sentence!</i></b></p>
<p>I am your annoyingly optimistic and everything-organic-lover friend, sister, Malaysian and yoga teacher!</p>

<p>&nbsp;</p>

<p><b><i>You're well-known as The Yoga Instructor. What's your daily routine like?</i></b></p>
<p>I usually wake up at 4 in the morning on days I teach at 7am, have two glasses of water with organic lemon, do my daily Ashtanga Yoga practice to start my day, teach two classes in the morning, make organic lunch for my husband, reply Upward's emails, update my blog, have early dinner by 5pm, teach another two classes in the evening, watch an episode of Mad Men and usually will be in bed with my beautiful husband by 10pm.</p>

<p>&nbsp;</p>

<p><b><i>Yoga seems to go hand-in-hand with a nature-friendly lifestyle. What are some of the "eco-friendly" habits that you've developed?</i></b></p>
<p>- I carry my own shopping bags everywhere I go even if I don't plan to grocery shop that day.<br />
- As much as I can, I buy only organic and fair-trade products when I grocery shop to ensure that only GMO, synthetic chemical and cruelty-free products go into my body.<br />
- At home and at Upward, I separate and recycle. We have bins for plastic, paper, cans, compost and we installed a <i>garburator</i> (organic garbage dispenser that turns waste into compost) in our kitchen sink to not contribute to wasting more landspace in the garbage cemetary.</p>

<p>&nbsp;</p>

<p><b><i>Share with us a simple eco-tip that anyone can practise. Even right now.</i></b></p>
<p>- Carry your own shopping bags everywhere, some of them are even smaller than our phones when folded!<br />
- Educate your grocery cashiers that they don't have to give out plastic bags to every single person.<br />
- Bring your own coffee tumblers and glass container (stop using plastic containers! It's BPA-laden!) to takeaway from your favourite canteen.</p>

<p>&nbsp;</p>

<p><b><i>We're very excited about your first Boxfool of Eco. Any teasers in mind?</i></b></p>
<p>Definitely my can't-live-without certified organic products that everyone would love to have in their fridge, kitchen, desk, balcony, home and mugs! Maybe some free - well it's supposed a secret surprise isn't it? ;)</p>

<p>&nbsp;</p>


            </div>
        </div>
    </div>
</div>
