            <section class="bottom-content">
                <div class="span12">
                     <h1 class="bigcap-condensed">How It Works</h1>
                    <p>
                        Lorem ipsum dolor sit amet, aureos ad te finis laeta gavisus ait mea Stet! Scitote puella mihi Tyrum reverteretur ad per sanctus primum subsannio, habet anulum ad per accipere filia in fuerat.
                    </p>
                    <div class="row">
                        <div class="span3">
                            <div class="content">
                                <h3>We Curate</h3>
                                <img src="images/curate_icon.png">
                                <span>upload image named curate_icon.png in iamges folder and remove this line</span>
                                <p>
                                    Boxstars handpick products that go into each Boxfool
                                </p>
                            </div>
                        </div>
                        <div class="span3 col">
                            <div class="content">
                                <img src="images/subscribe_icon.png" alt="">
                                <h3>You Subscribe</h3>
                                <p>
                                    Subscribe to the Boxfool curated by your favourite Boxstar
                                </p>
                            </div>
                        </div>
                        <div class="span3 col">
                            <div class="content">
                                <img src="images/receive_icon.png" alt="">
                                <h3>Receive</h3>
                                <p>
                                    Receive your Boxfool goodness every 3 months
                                </p>
                            </div>
                        </div>
                        <div class="span3 col">
                            <div class="content">
                                <img src="images/giftbox_icon.png" alt="">
                                <h3>You Like</h3>
                                <p>
                                    Enjoy awesome, mention-worthy products and contribute to charity
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="span12">
                <div class="row">
                    <div class="span4">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                            </p>
                            <strong>Contact Us</strong><br>
                            Call us 011 1129 0147 or email <a href="mailto:gabriel@ezypzy.com">gabriel@ezypzy.com</a>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="content">
                            Content
                        </div>
                    </div>
                    <div class="span4">
                        <div class="content">
                            Content
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/boxfool.js"></script>
</body>
</html>
