            <section class="bottom-content">
                <div class="span12">
                    <div class="row">
                        <div class="span3">
                            <h1 class="bigcap-condensed">How It Works</h1>
                            <p>
                                Lorem ipsum dolor sit amet, aureos ad te finis laeta gavisus ait mea Stet! Scitote puella mihi Tyrum reverteretur ad per sanctus primum subsannio, habet anulum ad per accipere filia in fuerat.
                            </p>
                        </div>
                        <div class="span3">
                            <div class="content dashed-sep-left">
                                <img src="images/subscribe_icon.png" alt="">
                                <h3>Subscribe</h3>
                                <p>
                                    Subscribe to your favourite cultural icons.
                                </p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="content dashed-sep-left">
                                <img src="images/receive_icon.png" alt="">
                                <h3>Receive</h3>
                                <p>
                                    Every 3 months, they'll send you a curated gift.
                                </p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="content dashed-sep-left">
                                <img src="images/giftbox_icon.png" alt="">
                                <h3>Enjoy</h3>
                                <p>
                                    Each shipment tells a story. Treasure and enjoy!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="span12">
                <div class="content">
                Footer Content
                </div>
            </footer>
        </div>
    </div>
    <script src="js/boxfool.js"></script>
</body>
</html>