{if="$is_home"}
<div class="container">
    <div class="row">
        <section class="bottom-content">
            <div class="hiw-header">
                <span class="hiw-left"></span>
            </div>
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="content">
                            <h3>We Curate</h3>
                            <p>
                                Boxstars handpick products that go into each Boxfool
                            </p>
                            <span class="guaranteed-stamp"></span>
                        </div>
                    </div>
                    <div class="span3 col">
                        <div class="content">
                            <h3>You Subscribe</h3>
                            <p>
                                Subscribe to the Boxfool curated by your favourite Boxstar
                            </p>
                        </div>
                    </div>
                    <div class="span3 col">
                        <div class="content">
                            <h3>You Receive</h3>
                            <p>
                                Receive your Boxfool goodness every 3 months
                            </p>
                        </div>
                    </div>
                    <div class="span3 col">
                        <div class="content">
                            <h3>You Like</h3>
                            <p>
                                Enjoy awesome, mention-worthy products and contribute to charity
                            </p>
                        </div>
                        
                        <span class="sprite box-stamps"></span>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{/if}
<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <div class="content">
                            <p>
                                Boxfool is a subscription service that allows you to discover awesome stuff
                                quarterly handpicked by Boxstars. Boxstars are influential individuals who are interesting,
                                original, cultured and generally have good taste. This ensures that you receive quality
                                items that are mention-worthy and not readily available or visible at shopping malls.
                            </p>
                            <p class="contact">
                                p: <span class="phonenum">(+603) 7887 1709</span>  e: <a href="mailto:whatsup@boxfool.com">whatsup@boxfool.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="content">
                            <h3 class="title">TweetFool</h3>
                            <p>
                                We have 1 millionth subscriber to date!
                                Let's keep it rocking! #boxfool
                            </p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="content">
                            <h3 class="title">Foollow Us</h3>
                            <div class="social-networks">
                                <ul class="social-links">
                                    <li><a href="http://www.facebook.com/boxfool" target="_blank"><span class="sprite icon-facebook"></span></a></li>
                                    <li><a href="http://twitter.com/boxfool" target="_blank"><span class="sprite icon-twitter"></span></a></li>
                                    <li><a href="http://pinterest.com/boxfool" target="_blank"><span class="sprite icon-p"></span></a></li>
                                </ul>
                                <span class="certified2 sprite"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="span12"><span class="link-top"></span></div></div>
                <ul class="links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Policies</a></li>
                </ul>
                <span class="copy">&copy; Boxfool {"Y"|date}</span>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/boxfool.js"></script>
</body>
</html>
