<div class="container">
	<div class="row">
		<blockquote class="landing">
			<span style="color:#d54343">A Boxfool of Surprises</span>, delivered to you every quarter for only RM88.
		</blockquote>
		<section class="featured">						
			<div class="box">
				<div style="width:600px; height:160px; text-align:center; z-index:100; position:absolute; margin:auto; top:-16px"><img src="/images/boxstar_comingsoon.png" /></div>
				<div class="emptybox">
				<div class="emailform">	
					{if="$form_success"}
					<div class="success">
						<h2>Thank you, we will keep in touch.</h2>
					</div>
					{else}
					<form action="/newsletter/" method="post" class="form-horizontal newsletter-email">
						<div class="control-group">
							<label class="control-label" for="email"><strong>YES I WANT AN INVITE!</strong></label>
							<div class="controls">
								<div class="input-append">
									<input type="text" name="email" maxlength="100" placeholder="Drop us your e-mail here" />
									<button class="btn" type="">Submit</button>
									<p class="help-block">
									{if="$form_error"}
										{if="$form_error_type['null']"}
										<p>There's a problem with your email. Please re-enter.</p>
										{/if}
		
										{if="$form_error_type['syntax']"}
											<p>The e-mail format doesn't seem quite right. Please re-enter.</p>
										{/if}
										
										{if="$form_error_type['duplication']"}
										<p>The e-mail you've entered is already in the database.</p>
										{/if}
										
										{if="$form_error_type['database']"}
										<p>Oops, a database error has occurred! Please try again.</p>
										{/if}
									{/if}
									</p>
								</div>
							</div>
						</div>	
					</form>
					{/if}
				</div>
        <div class="featured-banner">
					5% off each Boxfool subscription goes to a charitable cause.
				</div>
			</div>
		</section>
	</div>

</div>
