<div class="container">
    <div class="row">
        <div class="clearfix"></div>
        <section class="featured">
            <div class="box">
                <div class="box-top">&nbsp;</div>
                <ul class="boxstars">
                    <li class="first">
                        <img src="images/featured/davidchong.png" alt="David Chong">
                        <a href="/boxfools-of-his" class="learnmore">Learn more</a>
                    </li>
                    <li class="last">
                        <img src="images/featured/chloe.png" alt="Ms. Chloe">
                        <a href="/boxfools-of-her" class="learnmore">Learn more</a>
                    </li>
                </ul>
                <div class="box-bottom">
                    <blockquote class="quote-left quote">
                        His quote here
                    </blockquote>
                    <blockquote class="quote-right quote">
                        Her quote here
                    </blockquote>
                </div>
                <div class="featured-banner">
                    Handpicked "Boxfool of Surprises" delivered to you every quarter for only RM90
                </div>
            </div>
            <blockquote class="landing">
                5% of the value of your box subscription will be channels to a charitable cause chosen by your Boxstar.
            </blockquote>
        </section>
    </div>
</div>
