<div class="row">
	<div class="span8">
		<div class="jumbotron subhead">
			<h1>About Boxfool</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8 about">
		<section>
&nbsp;<br />

<div style="float:right; width:420px; text-align:center; padding-left:20px"><iframe width="420" height="315" src="http://www.youtube.com/embed/Ya3kW43s14M" frameborder="0" allowfullscreen></iframe><br /><span style="font-size:11px; color:#666">Boxfool - Discover Awesome Stuff Every Quarter</span></div>

<!-- http://www.youtube.com/embed/Y-6kzfSPxbw?rel=0 -->

<b>When was <i>the last time</i> you received a pleasant surprise in the mail?</b><br /><br />
No, really. Think about it.<br /><br />
Last week? 5 years ago? Or when you were 5?<br /><br />

(IKEA catalogues don't count, by the way!)<br /><br />

We can recall - back when we were kids, actually looking forward to the postman and his sputtering EX5 to see if he has anything for us. We buy junk food to dip our grubby paws into the crappy little toy inside.<br /><br />

Boxfool wants to re-create that experience of looking forward to a nice surprise in the mail. Our subscription service offers buyers a pleasant package of awesomeness every 3 months, handpicked by our panel of <a href="/faq">Boxstars</a> based on specific themes.<br /><br />

We want our subscribers to build an engagement with influential individuals who are leading thought-makers in their field of interest, through the power of a well designed package.<br /><br />

Boxfool is a project of EzyPzy Labs.<br /><br />

		</section>
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
</div>
