<div class="row">
	<div class="span8 about">
		<h1>About Boxfool</h1>
		<div style="border-bottom:1px solid #eee"></div>
		<p>&nbsp;</p>

			<iframe width="620" height="450" src="http://www.youtube.com/embed/Ya3kW43s14M" frameborder="0" allowfullscreen></iframe>
			<!-- http://www.youtube.com/embed/Y-6kzfSPxbw?rel=0 -->


<p>&nbsp;</p>
<h3>When was <i>the last time</i> you received a pleasant surprise in the mail?</h3>
&nbsp;<br />
No, really. Think about it. Last week? 5 years ago? Or when you were 5?<br /><br />

(IKEA catalogues don't count, by the way!)<br /><br />

We can recall - back when we were kids, actually looking forward to the postman and his sputtering EX5 to see if he has anything for us. We buy junk food to dip our grubby paws into the crappy little toy inside.<br /><br />

Boxfool wants to re-create that experience of looking forward to a nice surprise in the mail. Our subscription service offers buyers a pleasant package of awesomeness every 3 months, handpicked by our panel of <a href="/faq">Boxstars</a> based on specific themes.<br /><br />

We want our subscribers to build an engagement with influential individuals who are leading thought-makers in their field of interest, through the power of a well designed package.<br /><br />

Boxfool is a project of EzyPzy Labs.<br /><br />
<p>&nbsp;</p><p>&nbsp;</p>

	</div>
	<div class="span4">
		<div style="width:100px; height:65px"></div>
		<div class="sidebar"><div class="sidebar_content">

			<h3>In a Nutshell</h3><br />
			<div class="sidebar_icon"><i class="icon-gift"></i></div>
			<div class="sidebar_text">Boxfool is a subscription service that sends you a pack of awesome goodies every 3 months.<br /><br /></div>
			<div style="clear:both"></div>
			<div class="sidebar_icon"><i class="icon-gift"></i></div>
			<div class="sidebar_text">The contents of the Box remain a secret - until it arrives at your doorstep!<br /><br /></div>
			<div style="clear:both"></div>
			<div class="sidebar_icon"><i class="icon-gift"></i></div>
			<div class="sidebar_text">We release new Boxfool themes every 3 months - each is curated by a Boxstar - our panel of influential individuals who are interesting, cultured and generally have good taste.<br /><br /></div>
			<div style="clear:both"></div>
			<div class="sidebar_icon"><i class="icon-gift"></i></div>
			<div class="sidebar_text">Our first theme: <b><a href="/eco">Boxfool of Eco,</a></b> curated by Ninie Ahmad. Check it out!</div>
			<div style="clear:both"></div>

		</div></div>

		<p>&nbsp;</p>
		<p style="text-align:center">
			<a href="/eco" class="btn btn-large btn-success" style="font-size: 18px;">Boxfool of Eco</a>
		</p>

	</div>
</div>
