<div class="row">
	<div class="span8 faqs">
		<h1>Frequently Asked Question (FAQ)</h1>
		<div style="border-bottom:1px solid #eee"></div>
		<p>&nbsp;</p>
		<section>
			<h2>1. What is Boxfool?</h2>
			<p>Boxfool is a subscription service that allows you to discover and receive awesome stuff on a quarterly basis.</p>
			<p>Every three months, you will receive a Box "fool" of interesting items handpicked by an influential curator according to a theme. We call our curators "Boxstars". </p>
		</section>

		<section>
			<h2>2. What's inside Boxfool?</h2>
			<p>Each Boxfool contains 4-5 items that have been handpicked by a Boxstar according to a given theme that he or she is passionate about. The content remains a secret until you open it!</p>
			<p>For a start, we're kicking off with a quarterly environment-friendly package called <b><i>"Boxfool of Eco".</i></b> New themes will be introduced in the future. Stay tuned!</p>
		</section>

		<section>
		<h2>3. Who is a Boxstar?</h2>
		<p>Boxstars are individuals who are interesting, influential, cultured and which we believe have good taste!</p>
		<p>We work closely with Boxstars to determine the items that go into each Boxfool package. Having them onboard help us ensure that you only receive quality products that are mention-worthy and that they would use themselves.</p>
		</section>

		<section>
		<h2>4. How do I subscribe?</h2>
		<p>Like a particular Boxfool? Just click on the "subscribe" button, and fill in your details in the form provided. Payment is made via PayPal (credit cards accepted).</p>
		<p>You will be billed every three months for each Boxfool that you’ve subscribed to. You are free to unsubscribe at anytime.</p>
		</section>

		<section>
		<h2>5. Why does the content in a Boxfool have to be a surprise?</h2>
		<p>Remember the last time you opened a birthday or Christmas present? How good did that feel, uncovering the package and not knowing what to expect?</p>
		<p>We love the idea of opening up to new experiences which we otherwise wouldn't have considered - and we want to share that idea to other curious individuals who are open to equally pleasant surprises.</p>
		</section>

		<section>
		<h2>6. How do you source for your products?</h2>
		<p>We work with Boxstars to come up with a Boxfool theme - and sit down over coffee with them to identify products or brands that would fit into the theme. These are products which get them excited and want to introduce to their friends!</p>
		</section>

		<section>
		<h2>7. Can I switch from one Boxfool subscription to another?</h2>
		<p>Yes you can. In your account page, click on "My Subscriptions". Please note that you will have to do so before the next billing date of the upcoming Boxfool.</p>
		</section>

		<section>
		<h2>8. Can I subscribe to more than one Boxfool?</h2>
		<p>Sure you can. Simply select the Boxfool(s) that interest you, click "Subscribe" and you’re good to go. Please note that you will be billed for each Boxfool separately.</p>
		</section>

		<section>
		<h2>9. Do you charge for delivery?</h2>
		<p>At the moment we only deliver to buyers within the Klang Valley. Shipping is free. For other locations, kindly <a href="/contact">contact us</a> for custom delivery options. Shipping charges may apply.</p>
		</section>

		<section>
		<h2>10. Do you deliver outside Malaysia?</h2>
		<p>Sorry, we don't.</p>
		</section>

		<section>
		<h2>11. When can I expect to receive my Boxfool?</h2>
		<p>Boxfools are shipped at specific 3-month intervals. You can find out when your next Boxfool gets shipped from "My Subscriptions" in your account page.</p>
		</section>

		<section>
		<h2>12. Can I suggest a Boxstar?</h2>
		<p>Yeah, sure. Drop us a mail at <a href="mailto:whatsup@boxfool.com">whatsup@boxfool.com</a> and tell us why this person would make a great Boxstar.</p>
		</section>

	</div>
</div>
