<div class="row">
	<div class="span8">
		<div class="jumbotron subhead">
			<h1>About Boxfool</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8 about">
		<section>
&nbsp;<br />
<b>When was <i>the last time</i> you received a pleasant surprise in the mail?</b><br /><br />
No, really. Think about it.<br /><br />
Last week? 5 years ago? Or when you were 5?<br /><br />

(IKEA catalogues don't count, by the way.)<br /><br />

We can recall - back when we were kids, actually looking forward to the postman and his sputtering EX5 to see if he has anything for us. We buy junk food to dip our grubby paws into the crappy little toy inside.<br /><br />

Boxfool wants to re-create that experience of looking forward to receiving a nice surprise in the mail. Our subscription service offers buyers a pleasant package of awesomeness every 3 months, handpicked by our panel of Boxstars based on a specific themes.<br /><br />

Boxfool is a service that sends you a pack of awesome surprises every 3 months. Based around specific themes, each item that goes into a Boxfool is handpicked by our panel of Boxstars - influential individuals who are interesting, original, cultured and generally have good taste.<br /><br />

Through Boxfool, we want to change that. We want our subscribers to build an engagement with influential individuals who are leading thought makers in their field of interest, through the power of a well designed package.<br /><br />
Boxfool was born as a project under EzyPzy Labs.<br /><br />

		</section>
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	</div>
</div>
