
	<!-- thank you page start -->
	<div class="row">
		<div class="span12 page-header">
			<h1>Thank You {$sub_name}!</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="span8 well">
			<p>Your Boxfool order has been received.</p>

			<p>The Boxfool of Eco will be released on 15 September 2012. We'll keep you notified when it's out!</p>

			<p>An e-mail confirmation have been send to <strong>{$sub_email}</strong></p>

			<p>For order enquiries, feel free to e-mail us <a href="mailto:hello@boxfool.com">hello@boxfool.com</a> or call (+603) 7887 1709.</p>	
		</div>
	</div>
	<!-- thank you page ends -->
