body {
    color: #523e21;
    background: url(../images/bg.jpg);
    padding: 0;
    padding-bottom:0;
    margin:0;
    -webkit-font-smoothing: antialiased;
    /*text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);*/
}
header {
    position:relative;
}
header #login_link {
    float: right;
    position: absolute;
    z-index:1;
    right:0;
    top: 50%;
    color: black;
    text-decoration: none;
}
.bigcap-condensed {
    color: #523e21;
    text-transform: uppercase;
    font-family: 'Times New Roman', courier;
    letter-spacing: -4px;
    font-weight: bold;
    font-size: 3em;
}
.sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}
.logo {
    display: block;
    width: 264px;
    height: 78px;
    background-position: -225px 0;
    text-indent: -99999px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.beta {
    display: block;
    width: 66px;
    height: 92px;
    background-position: -157px 0;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    margin-top: -20px;
    margin-left: 274px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}
.tagline {
    padding-top: 5px;
    color: #694a1e;
    font-weight: bold;
    font-size:1.5em;
}

.main-content {
    background-color: white;

}

footer {
    margin: 0 auto;
    margin-top:-2px;
    text-align: left;
    color: #d8b386;
    background: #262015;
    min-height: 100px;
}

footer h3.title {
    color: white;
    text-transform: uppercase;
}

footer .content {
    padding: 10px;
}

footer p.contact {
    font-weight: bold;
}
footer a,
footer .phonenum {
    color: #ff9c00;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    color: #ff9c00;
    font-weight: bold;
    text-decoration: overline;
}
footer .link-top {
    width:100%;
    border-top:1px dashed #382f1f;
    display:block;
    padding:0;
    margin:0;
}
footer .links {
    list-style: none;
    margin:0 10px 20px 10px;
    float: left;
    display:block;
    font-size: 0.85em;
}
footer .links li {
    float: left;
    margin-right: 10px;
    padding-bottom: 40px;
}
footer .links a {
    font-weight: normal;
    color: #d8b386;
    text-decoration: none;
}
footer .links a:hover {
    color: #ff9c00;
}
footer .copy {
    float: right;
    margin-right: 10px;
    font-size: 0.85em;
}

.modal {
    text-shadow:none;
    color:black;
}
.align-left {
    text-align: left;
    float: left;
}
.align-right {
    text-align: right;
    float: left;
}

.bottom-content {
    position: relative;
    clear: both;
    padding-top: 70px;
}
.bottom-content .content {
    padding: 45px 10px 10px 20px;
    text-align: left;
}
.bottom-content .col {
    background: url(../images/footer_hsep.png) no-repeat;
    background-position: top left;
    min-height: 187px;
    position: relative;
}
.bottom-content .content h3 {
    text-transform: uppercase;
}

.hiw-header {
    position: absolute;
    display:block;
    float: left;
    clear:both;
    height:84px;
    width:100%;
    background: url(../images/hiw_r.png) top right no-repeat;
    margin-top:-45px;
}
.hiw-header .hiw-left {
    background: url(../images/hiw_l.png) top left no-repeat;
    display:block;
    float: left;
    clear:both;
    height:84px;
    width:484px;
}

.content p {
    text-align: left;
}

.featured {
    margin: 0 auto;
    width: 835px;
    height: 292px;
    background: url(../images/feature_bg.png) no-repeat;
    margin-bottom: 90px;
    margin-top: 74px;
}
.featured .box {
    position: relative;
    margin:0 auto;
    width: 597px;
    height: 285px;
}
.featured .box-top {
    background: url(../images/box_top.gif) no-repeat;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    width: 597px;
    height: 145px;
}
.featured .box-bottom {
    background: url(../images/box_bottom.gif) no-repeat;
    position: absolute;
    top:145px;
    left:0;
    z-index:5;
    width: 597px;
    height: 140px;
}
.featured ul.boxstars {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 6;
    width:100%;
    display: block;
    margin-top: -10px;
}
.featured ul.boxstars li {
    position: relative;
    margin: 0 20px;
}

.featured .boxstars li:first-child,
.featured .boxstars li.first {
    float: left;
}

.featured .boxstars li:last-child,
.featured .boxstars li.last {
    float: right;
}

.featured ul.boxstars .learnmore {
    text-indent: -99999px;
    display:block;
    text-decoration: none;
    outline: none;
    width:91px;
    height: 27px;
    overflow: hidden;
    position: absolute;
    bottom:0;
    margin-bottom: -15px;
    background: url(../images/learnmore.png) no-repeat;
}
.featured .boxstars li:first-child .learnmore,
.featured .boxstars li.first .learmore {
    left: 0;
}

.featured .boxstars li:last-child .learnmore,
.featured .boxstars li.last .learmore {
    right: 0;
}

.featured blockquote {
    max-width: 203px;
    max-height: 64px;
    overflow: auto;
    margin:0;
    margin-top: 25px;
    border: none !important;
    border-left: 0;
}
.featured .quote-left {
    float: left;
    margin-left: 10px;
}
.featured .quote-right {
    float: right;
    text-align: left;
    margin-right:17px;
}
.featured-banner {
    position: absolute;
    z-index:7;
    width:690px;
    height:64px;
    top: 234px;
    margin-left: -47px;
    background: url(../images/featured_banner.png) no-repeat;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
}

blockquote.landing {
    text-transform: uppercase;
    width:525px;
    max-width:100%;
    text-align:center;
    float:none;
    margin:0 auto;
    clear:both;
    padding: 40px 0;
    font-weight: bold;
    color: black;
    quotes: "\201C" "\201D";
    font-size: 1.6em;
    line-height: 1.1em;
    overflow: visible;
}
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after { content: close-quote; font-weight: bold; }
blockquote.landing:before,
blockquote.landing:after {
    font-size: 2em;
}
blockquote.landing:before {
    vertical-align: -10px;
}
blockquote.landing:after {
    vertical-align: -14px;
}
.box-stamps {
    position: absolute;
    bottom:20px;
    right: 20px;
    display:block;
    width:173px;
    height:38px;
    background-position: 0 -108px;
}
.guaranteed-stamp {
    display:block;
    width:108px;
    height:74px;
    background:url(../images/guaranteed_stamp.png) no-repeat;
}
.social-networks {
    position: relative;
    float: left;
}
ul.social-links {
    list-style: none;
    margin:0;
    padding:0;
    float: left;
}
ul.social-links a {
    display:block;
    padding:0;
    margin:0;
}
ul.social-links li {
    float: left;
    margin-right: 10px;
}
.icon-facebook {
    width:48px;
    height:51px;
    background-position: 0 0;
}
.icon-twitter {
    width:48px;
    height:51px;
    background-position: -53px 0;
}
.icon-p {
    width:48px;
    height:51px;
    background-position: -103px 0;
}
.certified {
    background-position: 0 -51px;
    width:144px;
    height: 56px;
    position: absolute;
    bottom: -44px;
    left:0;
}
#login_box {
    display:;
    position: absolute;
    right:0;
    top:0;
    margin-right: 15px;
    z-index:7;
    width:295px;
    height:340px;
    background: url(../images/login_bg.png) 0 -108px no-repeat;
}
#login_box form {
    margin-top: 20px;
}
#login_box .login-close {
    display:block;
    width:42px;
    height:42px;
    padding:0;
    margin:0;
    cursor: pointer;
    background: url(../images/login_close.png) no-repeat;
    position: relative;
    bottom:-5px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}