<div class="row">

	<div class="span6">
		<h1>Wassup!</h1>
		<p>&lt;--- Click on the links on the left to proceed.</p>
		<p>&nbsp;</p>
	</div>
</div>


<div class="row">
	<div class="span3">
		<div class="thumbnail"><a href="/adm/boxes/edit"><img src="http://placekitten.com/260/260" /></a></div>
	</div>
	<div class="span3">
		<h2>What's New?</h2>
		<h3><a href="/adm/boxes/edit">Boxfool of Kittens</a></h3>
		<p>Delivery: 30 June 2012.<br />
		<b>12 more days</b> to order.</p>
		<p>Current status: <span style="color:#090"><b>ONLINE</b></span></p>
	</div>
</div>
