{include="admin/header"}

<div class="row">
	<div class="span12"><p>&nbsp;</p></div>
</div>

<div class="row">
	<div class="span3">&nbsp;</div>
	<div class="span6" style="background:#fff; padding:20px; box-shadow:2px 2px 0px #333">
		<h1>Boxfool Overlord Login</h1>
		<p>&nbsp;</p>
		<div class="space"></div>
		<div class="row">
			<form method="get" action="{$base_url}/adm/dashboard">
				<input type="hidden" name="submit" value="1" />
				<div class="span2">
					<label>Username</label>
					<input type="text" class="input-medium" name="username" value="" />
				</div>
				<div class="span2">
					<label>Password</label>
					<input type="password" class="input-medium" name="password" value="" />
				</div>
				<div class="span2">
					<label>&nbsp;</label>
					<button type="submit" class="btn" style="width:100px">Go</button>
				</div>
			</form>
		</div>
		<p>&nbsp;</p>
	</div>
	<div class="span3">&nbsp;</div>
</div>

{include="admin/footer"}