			
				<ul>
				  <li>
						<a href="{$base_url}/adm/dashboard">Dashboard</a>
				  </li>
				  <li>
						<a href="{$base_url}/adm/boxes">Boxfools</a>
				  </li>
				  <li>
						<a href="{$base_url}/adm/boxes">Boxstars</a>
				  </li>
				  <li>
				    <a href="{$base_url}/adm/announcements">Announcements</a>
				  </li>
				  <li>
				    <a href="{$base_url}/adm/subscribers">Subscribers</a>
				  </li>
				  <li>
				    <a href="{$base_url}/adm/orders">Orders</a>
					</li>
					<li>
						<a href="{$base_url}/adm/logout">Logout</a>
					</li>
				</ul>
			
